/*
 * $Id: index.html,v 0.1 07/09/2005 03:02:07 mdb Exp $
 * $Author: mdb $
 *
 * World Of Warcraft Guide - HowTo Slain Onyxia, Stylesheet
 *
 * Images Copyright (c) Guild
 * Script Copyright (c) 2004 mdb <mdb AT insaneminds DOT org>
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
 *
 */
/*
	header
	text fonts
	listing
	rettangoli per testo
	inquadratura
	immagini sfondo
*/
html,body{
margin: 0;
padding:0;
}

#headerz
{
	background-image: url('imgs/center.jpg');
	background-repeat: repeat;
}
#footer
{
	background-image: url('imgs/cen.jpg');
	background-repeat: repeat;
	color: #FFFFFF;
}
body{
	background-image: url('imgs/kalidar-bg.jpg');
	background-repeat: repeat-x;
	font-family: arial,sans-serif;
	font-size: 76%;
	color: #333333;
	text-align: center;
	background-color: #000000;
}

#container
{
	width: 800px;
	margin: 0 auto;
	text-align: left;
	border-left: 2px solid #333333;
	border-right: 2px solid #333333;
}
	
#content
{
	background-image: url('imgs/center.jpg');
	background-repeat: repeat;
	padding: 1em;
}
	
h1
{
	
}

h2
{
	color: #666666;
}

h3
{
color: #93333C;
}

a
{
 		font: 10px geneva, Verdana, arial, sans-serif;
        color: #6cccc6;
        font-size: 8pt;
	    text-decoration: none;
	    font-weight: bold;
}

a:link, a:visited, a:active
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        font-size: 8pt;
        color: #6cccc6;
	    text-decoration: none;
}

a:hover
{
        font: 10px geneva, verdana, arial, sans-serif;
        font-weight: bold;
        color: #9cccc9;
        font-size: 8pt;
        text-decoration: none;
        border-bottom: 1px dotted #FFFFFF;
}

dl, dd
{
margin: 3px 3px;
}